# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo

# 仮想環境（ローカル環境）
.venv/
venv/

# ----------------------
# Flask / DB
# ----------------------
# 実データは上げない
products.db

# ----------------------
# OS系
# ----------------------
.DS_Store

# ----------------------
# エディタ系
# ----------------------
.vscode/

# ----------------------
# 環境変数（もし今後使うなら）
# ----------------------
.env